
@media screen and (min-width: 850px) {

  }
  /////////////////version mobile/////////////////////////
  @media screen and (max-width: 850px) {
      .rideWrapper {
          background-color: whitesmoke;
          border-radius: 20px;
          margin: 20px;
          padding: 20px;
          color: grey;
      }
}

