
@media screen and (min-width: 850px) {
    .loginPage {
      margin-top: 150px;
    }
    .formLogin {
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      height: 300px;
    }
    .InputDigit {
      margin-top: 160px;
      width: 30%;
      margin-left: 35%;
      text-align: center;
      padding: 20px;
      // background-color: red;
    }
    
    .inputStyle {
      width: 60% !important;
      margin-left: 20%;
      text-align: center;
      height: 3rem;
      font-size: 2rem;
      border-radius: 4px;
      border: 1px solid #5e79d9 !important;
    }
  }
  /////////////////version mobile/////////////////////////
  @media screen and (max-width: 850px) {
    .loginPage {
      margin-top: 150px;
    }
    .formLogin {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      height: 300px;
    }
    .InputDigit {
      margin-top: 160px;
      text-align: center;
      padding: 20px;
    }
    
    .inputStyle {
      width: 60% !important;
      margin-left: 20%;
      text-align: center;
      height: 3rem;
      font-size: 2rem;
      border-radius: 4px;
      border: 1px solid #5e79d9 !important;
    }
  }
  